/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#header {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.459)), url("img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo {
    max-width: 240px;
}
.navbar-nav {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu-link {
    font-size: 22px !important;
    color: #fff !important;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.menu-link-active::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 2px;
}
/* Search */
.search-input {
    border: 1px solid #d6d6d6;
    outline: none;
    padding: 10px 10px 10px;
}
.search-icon {
    background-color: #37B98A;
    padding: 11px 20px;
    cursor: pointer;
}
/* Menu */
.restaurnat-menus {
    padding: 0 !important;
}
.menu-contens {
    padding: 0 !important;
}
.sidebar-sticky {
    position: sticky;
    top: 10px;
}
.menu-heading {
    font-size: 20px;
    color: #fff;
    background-color: #909090;
    padding: 14px 10px;
}
.sticky-top-heading {
    position: sticky;
    top: 60px;
}
.menu-list-container {
    list-style: none;
    padding: 0;
}
.menu-list a {
    border-bottom: 1px solid #e4e4e4;
    padding: 12px 5px;
    font-size: 10pt;
    font-weight: 400;
    color: #686767;
    cursor: pointer;
    display: block;
}
a.active {
    background-color: #BEBCBD;
    color: #fff !important;
    transition: .1s linear;
    transition-delay: .4s;
}
.menu-list:hover a {
    font-size: 14px;
    color: #000000;
}
.menu-list a {
    text-decoration: none;
    color: #686767;
}
.menu-list-container li.current a {
    background-color: red !important;
    color: #37B98A;
}
.menu-content-box {
    border-bottom: 2px solid #b9b9b9;
    padding: 10px;
    margin: 0 !important;
}
.menu-content-title {
    font-size: 16px;
    color: black;
}
.menu-content-des {
    font-size: 16px;
}
.menu-content-price {
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.menu-content-plus-icon {
    background-color: #37B98A;
    text-align: center;
    font-size: 22px;
    color: #fff;
    border-radius: 7px;
    max-width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-content-sub-des {
    border-bottom: 2px solid #b9b9b9;
    padding: 12px 8px;
}
.menu-content-sub-mb {
    padding: 10px;
    font-size: 13px;
}
.menu-content-bg {
    background-color: #EDF3F7;
}
.sign-in {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* Mobile Navbar */
.mobile-bars-icon {
    color: #fff;
    background-color: #000000;
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
}
.mobile-bars-icon:hover {
    color: #909090;
}
.mobile-menu-wrapper {
    position: fixed;
    right: -950px;
    opacity: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1C1C1C;
    transition: .4s ease-in;
    z-index: 99999;
}
.mobile-menu-active {
    position: fixed;
    right: 0px;
    opacity: 1;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1C1C1C;
    display: block;
    transition: .4s ease-in;
    z-index: 99999;
}
.mobile-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    width: 80%;
}
.mobile-menu li {
    margin: 15px 0;
    border-bottom: 1px solid #5a5a5a;
    display: block;
}
.mobile-menu li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}
.mobile-close-icon {
    position: absolute;
    right: 30px;
    top: 30px;
}
.mobile-close-icon i {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
/* Accordion Mobile */
#restaurant-mb-menu {
    padding: 0 8px 8px 8px;
}
.accordion-body {
    padding: 16px 0 !important;
}
.menu-content-box-mb {
    padding: 5px 0 5px 8px;
    margin: 0 !important;
}
.accordion-item {
    border-top: 2px solid #333333 !important;
}
.accordion-flush .accordion-item {
    box-shadow: 1px 1px 4px black;
}
.accrodion-border {
    border-bottom: 2px solid #333333 !important;
}

.accor-heading-last {
    border-bottom: 2px solid #333333 !important;
}
.accordion-button:not(.collapsed) {
    color: #000000 !important;
    background-color: #fff !important;
}
.accordion-body-mb {
    padding-bottom: 0 !important;
}
.accordion-body-container {
     border-top: 2px solid #333333 !important;
     margin-top: -10px;
}
.accordion-button {
    box-shadow: none !important;
    border-bottom: none !important;
}
.accordion-header {
    color: #000000;
    font-weight: 700 !important;
}
.menu-content-title-mb {
    font-size: 14px;
    color: #000000;
    padding: 0;
}
.menu-content-des-mb {
    font-size: 12px;
    color: #444444;
    padding: 0 !important;
}
.menu-content-price-mb {
    font-size: 13px;
    color: #000000;
    font-weight: 700;
}
.menu-name {
    padding: 5px 0 !important;
}
.menu-content-plus-icon-mb i {
    background-color: #37B98A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.menu-name-content {
    padding: 0 !important;
}
/* Your Order */
.order-contnet {
    z-index: 99999999;
}
.delivery-container {
    background-color: #EEEEEE;
    border-radius: 30px;
    padding: 7px 0;
}
.delivery-box {
    background-color: #909090;
    border-radius: 30px;
    padding: 10px 24px;
}
.order-icon {
    font-size: 30px;
    color: #fff;
    margin-right: 12px;
}
.shopping-icon {
    font-size: 30px;
    color: #000000;
    margin-right: 12px;
}
.delivery-text {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0px;
}
.delivery-date {
    font-size: 10px;
    color: #fff;
}
.collection-text {
    font-size: 14px;
    color: #000000;
    margin-bottom: 0px;
}
.collection-date {
    font-size: 10px;
    color: #000000;
}
.location-icon {
    color: #F7713E;
}
.delivery-from-text {
    font-size: 13px;
}
.basket {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.basket p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.total-price-box {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.sub-total {
    font-size: 14px;
}
.sub-total-price {
    font-size: 10px;
}
.total {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.total-price {
    font-size: 18px;
    font-weight: 70
}
.delivery-btn {
    background-color: #cccccc;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.delivery-btn-icon {
    color: #fff;
    font-size: 24px;
}
.allergy {
    margin: 10px 0 20px;
}
.allergy i , .allergy span{
    color: #37B98A;
}

/* Footer */
.footer {
    background-color: #242424;
}
.link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.footer-hr {
    border-top: 2px solid #fff;
    margin-bottom: 15px;
}
.img-footer {
    width: 60px;
    background-color: #fff;
    border-radius: 6px;
    height: 40px;
    padding: 7px;
}
.footer-img-kukd {
    max-width: 65px;
}
.footer-pay-text, .footer-power-text {
    font-size: 14px;
}
.copyright-text {
    font-size: 10px;
}
.footer-note-text {
    font-size: 10px;
    text-align: center;
    color: #fff;
}
.footer-nav {
    list-style: none;
}

/* Cart and Scroll  */
.cart-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    gap: 10px;
    background-color: #fff;
    border-radius: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
.cart-btn {
    background-color: #37B98A;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.scroll-icon-mb {
    background-color: #F9AC2D;
    width: 56px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.scroll-icon-mb i {
    font-size: 24px;
}
.scroll-icon-contianer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999999;
}
.scroll-icon {
    background-color: #F9AC2D;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.scroll-icon i {
    font-size: 24px;
}
/* Responsive */

@media screen and (max-width: 576px) {
    #search {
        z-index: 999 !important;
        background-color: #fff !important;
    }
}


@media screen and (min-width: 1200px){
    .cart-scroll {
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .footer {
        margin-bottom: 58px;
    }
    .scroll-icon-contianer {
        display: none;
    }
}
