/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#header {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.459)), url("/img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px 70px;
}
.logo {
    max-width: 250px;
}
.nav-link {
    font-size: 22px !important;
    color: #fff !important;
}
/* Search */
.search-input {
    border: 1px solid #d6d6d6;
    outline: none;
    padding: 10px 10px 10px;
}
.search-icon {
    background-color: #37B98A;
    padding: 11px 20px;
    cursor: pointer;
}
/* Menu */
.restaurant {
    margin-top: 60px !important;
}
.menu-contens {
    padding: 0 !important;
}
.menu-heading {
    font-size: 20px;
    color: #fff;
    background-color: #909090;
    padding: 14px 10px;
}
.menu-list-container {
    list-style: none;
    padding: 0;
}
.menu-list {
    border-bottom: 1px solid #e4e4e4;
    padding: 12px 5px;
    font-size: 10pt;
    font-weight: 400;
    color: #686767;
}
.menu-content-box {
    border-bottom: 2px solid #b9b9b9;
    padding: 10px;
    margin: 0 !important;
}
.menu-content-title {
    font-size: 16px;
    color: black;
}
.menu-content-des {
    font-size: 16px;
}
.menu-content-price {
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.menu-content-plus-icon {
    background-color: #37B98A;
    text-align: center;
    font-size: 22px;
    color: #fff;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
}
.menu-content-sub-des {
    border-bottom: 2px solid #b9b9b9;
    padding: 8px;
}
.menu-content-bg {
    background-color: #EDF3F7;
}

/* Footer */
.footer {
    background-color: #242424;
}
.link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.footer-hr {
    border-top: 2px solid #fff;
    margin-bottom: 15px;
}
.img-footer {
    width: 60px;
    background-color: #fff;
    border-radius: 6px;
    height: 40px;
    padding: 7px;
}
.footer-img-kukd {
    max-width: 65px;
}
.footer-pay-text, .footer-power-text {
    font-size: 14px;
}
.copyright-text {
    font-size: 10px;
}
.footer-note-text {
    font-size: 10px;
    text-align: center;
    color: #fff;
}